@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your Tailwind styles or index.css */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 15s ease infinite;
  background-size: 300% 300%;
}